<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>
    <form method="POST" action="/stores/login">
      <label for="storeName">Store Name</label>
      <input type="text" name="storeName" required>
      <br>
      <label for="password">Password</label>
      <input type="password" name="password" required>
      <br>
      <button type="submit">Login</button>
    </form>
    <div><%=errorMessage %></div>
  </body>
</html>
